version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    open-pull-requests-limit: 4
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(go):"
    ignore:
      # kopia requires explicit updates
      - dependency-name: "github.com/kopia/kopia"
      # Dependabot opens PRs for older versions of openshift that would downgrade the version in use.
      - dependency-name: "github.com/openshift/api"
      - dependency-name: "k8s.io/*"
        # only allow patch updates
        update-types: ["version-update:semver-major","version-update:semver-minor"]
      - dependency-name: "sigs.k8s.io/*"
        # only allow patch updates
        update-types: ["version-update:semver-major","version-update:semver-minor"]
    groups:
      # create large PR upgrading multiple infrastructure dependencies in one shot,
      # only include upstream dependencies that are stable and have somewhat
      # regular releases which would be otherwise hard to manually manage.
      common-golang:
        patterns:
        - "cloud.google.com/*"
        - "github.com/aws/aws-sdk-go"
        - "github.com/Azure/azure-sdk-for-go/sdk/*"
        - "github.com/minio/minio-go/*"
        - "golang.org/x/*"
        - "google.golang.org/*"
      # create a single PR for k8s dependencies, so they can be updated all at
      # once and go through additional validation.
      k8s:
        patterns:
        - "k8s.io/*"
        - "sigs.k8s.io/*"
  - package-ecosystem: github-actions
    directory: "/"
    open-pull-requests-limit: 3
    schedule:
      interval: daily
    commit-message:
      prefix: "deps(github):"
    groups:
      github-actions:
        patterns:
        - "actions/*"
        - "github/codeql-action"
      docker:
        patterns:
        - "docker/*"
  ## Currently dependabot does not support wildcard or multiple directories
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/build"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/cassandra"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/controller"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/couchbase-tools"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/docs-build"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/foundationdb"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/kafka-adobe3Connector/image"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/kanister-elasticsearch/image"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/kanister-kubectl"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/kanister-mongodb-replicaset"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/kanister-mysql"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/license_extractor"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/mongodb"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/mongodb-atlas"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/mssql-tools"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/postgres-kanister-tools"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/postgresql"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/redis-tools"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/repo-server-controller"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
  - package-ecosystem: "docker"
    directory: "/docker/tools"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(docker):"
