version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    open-pull-requests-limit: 4
    schedule:
      interval: weekly
      day: tuesday
    commit-message:
      prefix: "deps(go):"
    ignore:
      # Dependabot opens PRs for older versions of openshift that would downgrade the version in use.
      - dependency-name: "github.com/openshift/api"
    groups:
      # create large PR upgrading multiple infrastructure dependencies in one shot,
      # only include upstream dependencies that are stable and have somewhat
      # regular releases which would be otherwise hard to manually manage.
      common-golang:
        patterns:
        - "cloud.google.com/*"
        - "github.com/aws/aws-sdk-go/*"
        - "github.com/Azure/azure-sdk-for-go/sdk/*"
        - "github.com/minio/minio-go/*"
        - "golang.org/x/*"
        - "google.golang.org/*"
      # create a single PR for k8s dependencies, so they can be updated all at
      # once and go through additional validation.
      k8s:
        patterns:
        - "k8s.io/*"
        - "sigs.k8s.io/*"
