sudo: required

services:
- docker

# Selecting C as the language keeps the container to a minimum footprint. All
# go-specifc code is run in build container.
language: c

branches:
  only:
  - master

cache:
  directories:
  - .go/pkg/mod/cache
  - .go/cache

jobs:
  include:
    - stage: test
      script:
      - make docs
    - stage: test
      services:
        - docker
      install:
      - make go-mod-download
      before_script:
      - docker pull kindest/node:v1.20.7
      - make start-kind
      script:
      - make build
      # Enable codegen test once we upgrade k8s.io/client-go to work with go1.14
      # - make codegen
      - make test
      before_cache:
      - sudo chown -R travis:travis ./.go
      after_script:
      - make stop-kind
    - stage: test
      services:
        - docker
      install:
      - make go-mod-download
      before_script:
      - docker pull kindest/node:v1.20.7
      - make start-kind
      - make install-minio
      script:
      - make integration-test
      before_cache:
      - sudo chown -R travis:travis ./.go
      after_script:
      - make stop-kind
    - stage: test
      script:
      - make golint
    - stage: test
      services:
      - docker
      script:
      - set -ev
      - make release-snapshot; export EXIT_STATUS=$?
      # Push images if PR is merged to master
      - |
        if [[ "$EXIT_STATUS" -eq 0 ]] && [[ "$TRAVIS_BRANCH" == "master" ]] && [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then
          sudo chown "$USER":"$USER" "$HOME"/.docker -R
          docker login ghcr.io -u "$GITHUB_USERNAME" -p "$GITHUB_TOKEN"
          ./build/push_images.sh 
        fi
