apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "kanister-operator.fullname" . }}
  labels:
{{ include "kanister-operator.helmLabels" . | indent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kanister-operator
  template:
    metadata:
      labels:
{{ include "kanister-operator.helmLabels" . | indent 8}}
    spec:
      serviceAccountName: {{ template "kanister-operator.serviceAccountName" . }}
{{- if .Values.bpValidatingWebhook.enabled }}
      volumes:
        - name: webhook-certs
          secret:
            secretName: kanister-webhook-certs
{{- end }}
      containers:
      - name: {{ template "kanister-operator.fullname" . }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
{{- if .Values.bpValidatingWebhook.enabled }}
        volumeMounts:
          - name: webhook-certs
            mountPath: /var/run/webhook/serving-cert
{{- end }}
        env:
        - name: CREATEORUPDATE_CRDS
          value: {{ .Values.controller.updateCRDs | quote }}
        - name: LOG_LEVEL
          value: {{ .Values.controller.logLevel }}
{{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | indent 12 }}
{{- end }}
      - name: repo-server-controller
        image: r4rajat/repo-server-controller:v17-repo-server-rajat
        imagePullPolicy: {{ .Values.repositoryServerImage.pullPolicy }}
        env:
        - name: KOPIA_SERVER_START_TIMEOUT
          value: {{ .Values.repositoryServerController.serverStartTimeout | quote }}
{{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | indent 12 }}
{{- end }}
