apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "kanister-operator.fullname" . }}
  labels:
{{ include "kanister-operator.helmLabels" . | indent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kanister-operator
  template:
    metadata:
      labels:
{{ include "kanister-operator.helmLabels" . | indent 8}}
    spec:
      serviceAccountName: {{ template "kanister-operator.serviceAccountName" . }}
{{- if or .Values.bpValidatingWebhook.enabled .Values.validatingWebhook.repositoryserver.enabled }}
      volumes:
        - name: webhook-certs
          secret:
            {{- if eq (.Values.bpValidatingWebhook.tls.mode) "custom" }}
            secretName: {{ .Values.bpValidatingWebhook.tls.secretName | required "Missing required TLS secretName containing cert details, Make sure to set `bpValidatingWebhook.tls.secretName`" }}
            {{- else if eq (.Values.bpValidatingWebhook.tls.mode) "auto" }}
            secretName: kanister-webhook-certs
            {{- end }}
{{- end }}
      containers:
      - name: {{ template "kanister-operator.fullname" . }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
{{- if .Values.bpValidatingWebhook.enabled }}
        volumeMounts:
          - name: webhook-certs
            mountPath: /var/run/webhook/serving-cert
{{- end }}
        env:
        - name: CREATEORUPDATE_CRDS
          value: {{ .Values.controller.updateCRDs | quote }}
        - name: LOG_LEVEL
          value: {{ .Values.controller.logLevel }}
        - name: DATA_STORE_PARALLEL_UPLOAD
          value: {{ .Values.dataStore.parallelism.upload | quote }}
        - name: DATA_STORE_PARALLEL_DOWNLOAD
          value: {{ .Values.dataStore.parallelism.download | quote }}
        - name: KANISTER_METRICS_ENABLED
          value: {{ .Values.controller.metrics.enabled | quote }}
{{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | indent 12 }}
{{- end }}
{{- if .Values.repositoryServerController.enabled }}
      - name: {{ template "repository-server-controller.name" . }}
        image: {{ .Values.repositoryServerControllerImage.registry }}/{{ .Values.repositoryServerControllerImage.name }}:{{ .Values.repositoryServerControllerImage.tag }}
        imagePullPolicy: {{ .Values.repositoryServerControllerImage.pullPolicy }}
{{- if .Values.validatingWebhook.repositoryserver.enabled }}
        volumeMounts:
          - name: webhook-certs
            mountPath: /var/run/webhook/serving-cert
{{- end }}
        env:
        - name: KOPIA_SERVER_START_TIMEOUT
          value: {{ .Values.repositoryServerController.serverStartTimeout | quote }}
        - name: LOG_LEVEL
          value: {{ .Values.repositoryServerController.logLevel }}
        - name: CREATEORUPDATE_CRDS
          value: {{ .Values.controller.updateCRDs | quote }}
{{- if .Values.kanisterToolsImage.override }}
        - name: KANISTER_TOOLS
          value: {{ include "kanister-tools.image" . }}
{{- end }}
{{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | indent 12 }}
{{- end }}
{{- end }}
{{- if .Values.nodeSelector }}
      nodeSelector: {{ toYaml .Values.nodeSelector | nindent 8 }}
{{- end }}
{{- if .Values.tolerations }}
      tolerations: {{ toYaml .Values.tolerations | nindent 8 }}
{{- end }}              
