name: build-mongodb-atlas-tools-image

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'MongoDB Atlas image tag in the format x.y.z'
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: kanisterio/mongodb-atlas

jobs:
  check-files:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
      - uses: tj-actions/changed-files@4edd678ac3f81e2dc578756871e4d00c19191daf # v45.0.4
        name: Get changed files
        id: changed-files
        with:
          files: docker/mongodb-atlas/Dockerfile

  build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    needs: check-files
    if: needs.check-files.outputs.changed == 'true'
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1
    - name: Image metadata
      id: meta
      uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5.5.1
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=ref,event=branch
          type=sha
          {{date 'YYYY.MM.DD-HHmm'}}
          ${{ inputs.tag }}
    - name: Login to GHCR
      uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
      with:
        context: "{{defaultContext}}:docker/mongodb-atlas"
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
