name: build-mongodb-atlas-tools-image

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'MongoDB Atlas image tag in the format x.y.z'
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: kanisterio/mongodb-atlas

jobs:
  check-files:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
      - uses: tj-actions/changed-files@90a06d6ba9543371ab4df8eeca0be07ca6054959 # v42.0.2
        name: Get changed files
        id: changed-files
        with:
          files: docker/mongodb-atlas/Dockerfile

  build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    needs: check-files
    if: needs.check-files.outputs.changed == 'true'
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0
    - name: Image metadata
      id: meta
      uses: docker/metadata-action@dbef88086f6cef02e264edb7dbf63250c17cef6c # v5.5.0
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=ref,event=branch
          type=sha
          {{date 'YYYY.MM.DD-HHmm'}}
          ${{ inputs.tag }}
    - name: Login to GHCR
      uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@4a13e500e55cf31b7a5d59a38ab2040ab0f42f56 # v5.1.0
      with:
        context: "{{defaultContext}}:docker/mongodb-atlas"
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
