name: build-mongodb-atlas-tools-image

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'MongoDB Atlas image tag in the format x.y.z'
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: kanisterio/mongodb-atlas

jobs:
  check-files:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          fetch-depth: 0
      - uses: tj-actions/changed-files@6ee9cdc5816333acda68e01cf12eedc619e28316 # v39
        name: Get changed files
        id: changed-files
        with:
          files: docker/mongodb-atlas/Dockerfile

  build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    needs: check-files
    if: needs.check-files.outputs.changed == 'true'
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Image metadata
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=ref,event=branch
          type=sha
          {{date 'YYYY.MM.DD-HHmm'}}
          ${{ inputs.tag }}
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5.0.0
      with:
        context: "{{defaultContext}}:docker/mongodb-atlas"
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
