name: Build docker image
permissions:
  contents: read

on:
  workflow_call:
    inputs:
      image_file:
        required: true
        type: string
      image_name:
        required: true
        type: string
      image_tag:
        required: true
        type: string
      ref:
        required: true
        type: string
      build-args:
        required: true
        type: string
      labels:
        required: true
        type: string
      extra_tags:
        required: false
        type: string
      platforms:
        required: false
        default: linux/amd64
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ inputs.image_name }}

jobs:
  build_image:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        ref: ${{ inputs.ref }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
    - name: Login to GHCR
      uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Image metadata
      id: meta
      uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=sha
          {{date 'YYYY.MM.DD-HHmm'}}
          ${{ inputs.image_tag }}
          ${{ inputs.extra_tags }}
        labels: ${{ inputs.labels }}
    - name: Build and push
      uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6.16.0
      with:
        context: .
        file: ${{ inputs.image_file }}
        platforms: ${{ inputs.platforms }}
        push: true
        pull: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        build-args: ${{ inputs.build-args }}
