name: Compute Image Tags

on:
  workflow_call:
    outputs:
      tag_short:
        description: Short image tag
        value: ${{ jobs.image_tags.outputs.tag_short }}
      tag_long:
        description: Long image tag
        value: ${{ jobs.image_tags.outputs.tag_long }}

jobs:
  image_tags:
    runs-on: ubuntu-latest
    outputs:
      tag_short: ${{ steps.image_tags.outputs.tag_short }}
      tag_long: ${{ steps.image_tags.outputs.tag_long }}
    steps:
    - id: image_tags
      env:
        COMMIT_SHA: ${{ github.sha }}
      run: |
        echo "tag_short=short-commit-${COMMIT_SHA::12}" >> $GITHUB_OUTPUT
        echo "tag_long=commit-${COMMIT_SHA}" >> $GITHUB_OUTPUT
