name: Update build image

run-name: Update build image to ${{ inputs.tag }} as ${{ inputs.latest_tag }}

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Image tag in the format vx.x.x'
        required: true
        type: string
      latest_tag:
        description: 'Tag image as latest or dev_latest'
        required: true
        default: dev_latest
        type: choice
        options:
        - latest
        - dev_latest

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: kanisterio/build

jobs:
  build:
    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-latest
    # TODO: Uncomment following when we enable check-file job
    # needs: check-files
    # if: needs.check-files.outputs.changed == 'true'
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Image metadata
      id: meta
      uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=ref,event=branch
          type=sha
          {{date 'YYYY.MM.DD-HHmm'}}
          ${{ inputs.tag }}
          ${{ inputs.latest_tag }}
    - name: Login to GHCR
      uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: "{{defaultContext}}:docker/build"
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
