name: Docker Image Correctness Tests
on:
  pull_request:
    paths:
      - Dockerfile.in
      - docker/**
      - .github/workflows/**
permissions:
  contents: read
jobs:
  couchbase-tools:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build binaries
        run: |
          make build BIN=kando
          make build BIN=kanctl
          cp bin/amd64/kando .
          cp bin/amd64/kanctl .

      - name: Build tools base image
        run: |
          docker build --no-cache \
            -f docker/tools/Dockerfile \
            -t kanister-tools:ci .

      - name: Build image
        run: |
          docker build --no-cache \
            --build-arg TOOLS_IMAGE=kanister-tools:ci \
            -f docker/couchbase-tools/Dockerfile \
            -t test/couchbase-tools:ci .

      - name: Container starts
        run: |
          docker run --rm test/${{ matrix.image.name }}:ci true

      - name: Validate
        run: |
          docker run --rm test/couchbase-tools:ci sh -c \
            "kando --help && kanctl --help"

      - name: Cleanup
        if: always()
        run: |
          docker system prune -af
          docker builder prune -af
