name: Docker Images Smoke Test

on:
  pull_request:
    paths:
      - Dockerfile.in
      - docker/**
      - .github/workflows/**

permissions:
  contents: read

jobs:
  tools-images:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: couchbase
            dockerfile: docker/couchbase-tools/Dockerfile
            image: test/couchbase-tools:ci
            validate_cmd: "kando --help && kanctl --help"

          - name: mssql
            dockerfile: docker/mssql-tools/Dockerfile
            image: test/mssql-tools:ci
            validate_cmd: "kando --help && kanctl --help && kubectl --help"

    name: Build & validate ${{ matrix.name }} tools image
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build tools base image
        run: |
          make build BIN=kanctl
          make build BIN=kando
          mkdir -p docker/tools
          cp kanctl docker/tools/kanctl
          cp kando docker/tools/kando
          cp LICENSE docker/tools/LICENSE
          chmod +x docker/tools/kanctl docker/tools/kando
          docker build --no-cache \
            -f docker/tools/Dockerfile \
            -t kanister-tools:ci docker/tools

      - name: Build ${{ matrix.name }} image
        run: |
          docker build --no-cache \
            --build-arg TOOLS_IMAGE=kanister-tools:ci \
            -f ${{ matrix.dockerfile }} \
            -t ${{ matrix.image }} .

      - name: Container starts
        run: |
          docker run --rm ${{ matrix.image }} true

      - name: Validate image
        run: |
          docker run --rm ${{ matrix.image }} sh -c \
            "${{ matrix.validate_cmd }}"
