name: Manage Stale Issues and PRs

permissions:
  contents: read

on:
  schedule:
  - cron: "0 0 * * *"
jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/stale@28ca1036281a5e5922ead5184a1bbf96e5fc984e # v9.0.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        days-before-stale: 90
        days-before-close: 30
        close-issue-label: rotten
        close-pr-label: rotten
        stale-issue-label: stale
        stale-pr-label: stale
        exempt-issue-labels:
          - frozen
          - accepted
        exempt-pr-labels: frozen
        close-issue-message: This issue is closed due to inactivity. Feel free to reopen it, if it's still relevant. CC @kanisterio/maintainers
        close-pr-message: This PR is closed due to inactivity. Feel free to reopen it, if it's still relevant. CC @kanisterio/maintainers
        stale-issue-message: This issue is marked as stale due to inactivity. Add a new comment to reactivate it. CC @kanisterio/maintainers
        stale-pr-message: This PR is marked as stale due to inactivity. Add a new comment to reactivate it. CC @kanisterio/maintainers
        remove-issue-stale-when-updated: true
        remove-pr-stale-when-updated: true
        exempt-all-assignees: true
