on:
  schedule:
  - cron: "0 0 * * *"
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v4
      with:
        days-before-stale: 60
        days-before-close: 30
        close-issue-label: rotten
        close-pr-label: rotten
        stale-issue-label: stale
        stale-pr-label: stale
        exempt-issue-labels: frozen
        exempt-pr-labels: frozen
        close-issue-message: This issue is closed due to inactivity. Feel free to reopen it, if it's still relevant.
        close-pr-message: This PR is closed due to inactivity. Feel free to reopen it, if it's still relevant.
        stale-issue-message: This issue is marked as stale due to inactivity. Add a new comment to reactivate it.
        stale-pr-message: This PR is marked as stale due to inactivity. Add a new comment to reactivate it.
