on:
  issues:
    types:
    - opened
    - reopened
  pull_request:
    types:
    - opened
    - reopened
jobs:
  issues:
    if: github.repository == 'kanisterio/kanister' && github.event_name == 'issues'
    name: Triage New Issue
    permissions:
      issues: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions-ecosystem/action-add-labels@v1.1.3
      with:
        labels: "triage"
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions-ecosystem/action-create-comment@v1.0.2
      if: github.event.action == 'opened'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        body: |
          Thanks for opening this issue :+1:. The team will review it shortly.

          If this is a bug report, make sure to include clear instructions how on to reproduce the problem with [minimal reproducible examples](https://stackoverflow.com/help/minimal-reproducible-example), where possible. If this is a security report, please review our security policy as outlined in [SECURITY.md](https://github.com/kanisterio/kanister/blob/master/SECURITY.md).

          If you haven't already, please take a moment to review our project's [Code of Conduct](https://github.com/kanisterio/kanister/blob/master/CODE_OF_CONDUCT.md) document.
    - uses: alex-page/github-project-automation-plus@v0.8.3
      with:
        repo-token: ${{ secrets.GH_TOKEN }} # must use a PAT here
        project: Kanister
        column: To Be Triaged
  pull-requests-comment:
    name: Comment on Pull Request
    if: github.repository == 'kanisterio/kanister' && github.event_name == 'pull_request' && !github.event.pull_request.head.repo.fork && github.actor != 'dependabot'
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions-ecosystem/action-create-comment@v1.0.2
      if: github.event.action == 'opened'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        body: |
          Thanks for submitting this pull request :tada:. The team will review it soon and get back to you.

          If you haven't already, please take a moment to review our project [contributing guideline](https://github.com/kanisterio/kanister/blob/master/CONTRIBUTING.md) and [Code of Conduct](https://github.com/kanisterio/kanister/blob/master/CODE_OF_CONDUCT.md) document.
  pull-requests-triage:
    name: Triage Pull Request
    if: github.repository == 'kanisterio/kanister' && github.event_name == 'pull_request' && !github.event.pull_request.head.repo.fork
    permissions:
      pull-requests: write
      repository-projects: write
    runs-on: ubuntu-latest
    steps:
    - uses: alex-page/github-project-automation-plus@v0.8.3
      with:
        repo-token: ${{ secrets.GH_TOKEN }}
        project: Kanister
        column: In Progress
